@model EmporioUP.Models.Cliente

@{
    ViewBag.Title = "DeletarCliente";
}

<h2>Deletar pergunta</h2>
<hr />
<div class="container-fluid">
    <form class="form-horizontal" role="form" method="post" action="/Cliente/Cliente_Deleta">
        <dl class="dl-horizontal">
            <dt>
                Código do cliente
            </dt>
            <dd>
                @Html.HiddenFor(model => model.id_cliente)
                @Html.DisplayFor(model => model.id_cliente)
            </dd>
            <br>
            <dt>
                Nome do cliente
            </dt>
            <dd>
                @Html.DisplayFor(model => model.nome)
            </dd>
            <br>
            <dt>
                CPF do cliente
            </dt>
            <dd>
                @Html.DisplayFor(model => model.cpf)
            </dd>
            <br>
            <dt>
                Data de adesão
            </dt>
            <dd>
                @Html.DisplayFor(model => model.dataAdesao)
            </dd>
            <br />
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Deseja excluir o cliente?')">Deletar</button>
                </div>
            </div>
        </dl>
    </form>
</div>
<hr />
<button type="submit" class="btn btn-default" style="border-color:steelblue;">
    <i class="glyphicon glyphicon-chevron-left" style="color:steelblue;"></i>
    @Html.ActionLink("Voltar à lista de clientes", "Clientes")
</button>
@section scripts{
    <link rel="stylesheet" href="https://getbootstrap.com/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
}

